---

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center ">
        <h1 class="mb-6 text-6xl tracking-tight font-extrabold text-white">SpaceX Launches</h1>
        <p class="font-light text-gray sm:text-xl dark:text-gray-400">All the information about SpaceX launches</p>
    </div>
</header>